/*LINKER*/
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Quicksand:wght@300..700&display=swap');



/* GENERAL*/
html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Quicksand", sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
:root{
    --BGLightMode: rgb(247, 242, 236);
    --TxtLightMode: rgb(23, 22, 22);

    --colorBg1: white;
    --colorBg2: var(--BGLightMode);
    --color1: 255, 91, 140;
    --color2: 158, 83, 255;
    --color3: 255, 141, 70;
    --color4: 0, 13, 255;
    --color5: 116, 253, 255;
    --color6: 255, 238, 7;
    --colorInteractive: 129, 0, 255;
    --circleSize: 80%;
    --blending: hard-light;
    
}

body {
    height: 200vh;
    background-color: var(--BGLightMode);
}

main {
    margin-top: calc(15vh + 10px);
    height: fit-content;
    display: flex;
    flex-direction: column;
}
section{
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);  
    grid-template-rows: repeat(14, 58.5px); 
}
.sec_1.showAnimation #velkommen{
    animation-duration: 1s;
    animation-name: slide-in;
}
.sec_2 svg{
    grid-column: 1/13;
    grid-row: 1/2;
}

.sec_2{
    background-color: white;
}
.sec_3.showAnimation #todocontainer{
    animation: roll-in-left 0.6s ease-out both;
}
.sec_3.showExitAnimation #todocontainer{
    animation: roll-out-left 0.6s ease-in both;
}

#velkommen{
    grid-row: 2/5;
    grid-column: 2/8;
    display: flex;
    flex-direction: column;
    user-select: none;
}

#velkommen h1 {
    font-size: 80px;
    color: var(--TxtLightMode);
    font-family: "Borel";
    font-weight: 500;
    height: 110px;
}

#smilingIcons {
    grid-column: 10/13;
    grid-row: 2/11;
    font-size: 150px;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-between;
    align-items: center;
}

main .brukernavn{
    font-size: 50px;
    color: var(--TxtLightMode);
}



/* NAV BAR*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 99%;
    top: 0;
    z-index: 1;
    height: 15vh;
    padding: 0 20px;
    margin: 10px;
    border-radius: 50px;
    user-select: none;
}

.høyre {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 210px;
}
.venstre{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}

#logo {
    height: 3vh;

}

#logo img {
    height: 3vh;
}
#logo:hover{
    animation: vibrate-1 0.3s linear infinite both;
}

#bruker {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 10%;
    height: 3vh;
    width: 30%;
}

#bruker i {
    font-size: 15px;
}



#burger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3vh;
    
}

#burger i {
    width: fit-content;
    font-size: 15px;
    color: var(--TxtLightMode);
}


#burger-btn {
    background: none;
    top: 30px;
    right: 0;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
    border: none;
    cursor: pointer;
}

.btnOutline{
    position: absolute;
    width: 100px;
    height: 100px;
    border: 1px solid var(--TxtLightMode);
}
.btnOutline1{
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    animation: morph 4s linear infinite;
}
.btnOutline2{
    border-radius: 53% 47% 43% 57% / 51% 39% 61% 49%;
}

.dropdown-content {
    width: 102vw;
    height: 101vh;
    display: none;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: -59px;
    right: 11px;
    background-color: var(--TxtLightMode);
    padding: 30px;
    z-index: 999;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    text-transform: uppercase;
    animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.dropdown-content button{
    border: none;
    background-color: var(--TxtLightMode);
    color: var(--BGLightMode);
    text-transform: uppercase;
    font-size: 80px;
    user-select: none;
    font-family: "Quicksand", sans-serif;
    cursor: pointer;
}
.dropdown-content button:hover{
    animation: vibrate-1 0.3s linear infinite both;
}
.dropdown-content a:hover{
    animation: vibrate-1 0.3s linear infinite both;
}
.dropdown-content a{
    color: var(--BGLightMode);
    text-decoration: none;
    user-select: none;

}
.dropdown-content.show {
    opacity: 1;
    visibility: visible;
    display: flex; 
}
#burger-btn .fa-xmark{
    display: none ;
    color: var(--BGLightMode);
    z-index: 9999;
    
}
#burger-btn .fa-xmark.show{
    display: block;
}
burger-btn.show{
    display: none;
}

#darkModeLightMode{
    padding: 10px;
    border: none;
    width: 60px;
    height: 30px;
    border-radius: 999px;
    display: flex;
    padding: 4px;
    position: relative;
    background-color: white;
}
.toggleSirkel {
    background-color: yellow;
    width: 20px;
    height: 20px;
    border-radius: 999px;
    position: absolute;
    top: 5px;
    cursor: pointer;
}
body.dark .toggleSirkel{
    background-color: black;
}
.toggle-right {
    animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  .toggle-left {
    animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }


/* INDEX*/



#login-overlay {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    justify-content: space-evenly;
    overflow: hidden;
    background: linear-gradient(40deg, var(--colorBg1), var(--colorBg2));
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.gradientsContainer{
    width: 100vw;
    height: 100vh;
    filter: url(#goo) blur(40px);
    position: absolute;
    cursor: none;
    
}
#login-overlay svg{
    display: none;
}
.gradientsContainer h1{
    color: black;
    z-index: 99999999;
    position: absolute;
    user-select: none;
}
.g1{
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
    width: var(--circleSize);
    height: var(--circleSize);
    opacity: 1;
    top: calc(50% - var(--circleSize)/2);
    left: calc(50% - var(--circleSize)/2);
    mix-blend-mode: var(--blending);

    transform-origin: center center;
    animation: MoveVertical 30s ease infinite;
}
.g2{
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
    width: var(--circleSize);
    height: var(--circleSize);
    opacity: 1;
    top: calc(50% - var(--circleSize)/2);
    left: calc(50% - var(--circleSize)/2);
    mix-blend-mode: var(--blending);

    transform-origin: calc(50% - 400px);
    animation: MoveInCircle 20s reverse infinite;
}
.g3{
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
    width: var(--circleSize);
    height: var(--circleSize);
    opacity: 1;
    top: calc(50% - var(--circleSize)/2  + 200px);
    left: calc(50% - var(--circleSize)/2  - 500px);
    mix-blend-mode: var(--blending);

    transform-origin: calc(50% + 400px);
    animation: MoveInCircle 40s linear infinite;
}
.g4{
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
    width: var(--circleSize);
    height: var(--circleSize);
    opacity: 1;
    top: calc(50% - var(--circleSize)/2);
    left: calc(50% - var(--circleSize)/2);
    mix-blend-mode: var(--blending);

    transform-origin: calc(50% - 200px);
    animation: MoveHorizontally 40s linear infinite;
}
.g5{
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
    width: var(--circleSize);
    height: var(--circleSize);
    opacity: 1;
    top: calc(50% - var(--circleSize)*2);
    left: calc(50% - var(--circleSize)*2);
    mix-blend-mode: var(--blending);

    transform-origin: calc(50% - 800px) calc(50% + 200px);
    animation: MoveInCircle 20s ease infinite;
}
.g6{
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color6), 0.8) 0, rgba(var(--color6), 0) 50%) no-repeat;
    width: var(--circleSize);
    height: var(--circleSize);
    opacity: 1;
    top: calc(50% - var(--circleSize)/2);
    left: calc(50% - var(--circleSize)/2);
    mix-blend-mode: var(--blending);

    transform-origin: calc(50% + 400px);
    animation: MoveInCircle 20s reverse infinite;
}
.interactive{
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--colorInteractive), 0.8) 0, rgba(var(--colorInteractive), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;
    opacity: 1;
    pointer-events: none;
}
/* Style for the login box */
.login-box {
    background: white;
    padding: 40px 30px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 400px;
    height: 80%;
    z-index: 999999;
    filter: none;

}
.login-box h2{
    font-weight: 900;
} 
.login-box img{
    width: 80%;
}

.login-box input {
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    border-radius: 10px;
    border: none;
    background-color: whitesmoke;
    font-family: "Quicksand", sans-serif;
}

.login-box button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
    border-radius: 70% 30% 40% 60% / 40% 70% 30% 60%;
    font-family: "Quicksand", sans-serif;
    width: 80px;
    height: 50px;
    position: relative;
}
.login-box .btnOutline{
    width: 80px;
    height: 50px;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    border: 1px solid black;
    position: absolute;
    top: 0;
    left: 0;
    animation: morph 4s linear infinite;

}

#error-message {
    color: red;
    margin-top: 10px;
}


/*TODO LISTE*/
#todocontainer {
    grid-column: 2 / 9;
    grid-row: 2 / 12;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    gap: 10px;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    opacity: 0;
    overflow: hidden;
    overflow-y: scroll
}

#addnewtodo {
    width: 100%;
    height: 50px;
    display: flex;
    gap: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
    padding: 0 0 10px 0;
}

#addnewtodo input {
    width: 89%;
    font-size: 25px;
    border-radius: 10px;
    border: transparent;
    font-family: "Quicksand";
    cursor: pointer;
}

#addnewtodo button {
    color: black;
    background-color: white;
    width: 40px;
    height: 40px;
    border: 0.5px black solid;
    border-radius: 70% 30% 40% 60% / 40% 70% 30% 60%;
    cursor: pointer;
}

.newtodo {
    width: 100%;
    height: 50px;
    display: flex;
    gap: 5px;
    background-color: whitesmoke;
    border-radius: 10px;
    align-items: center;
    padding: 5px;

}

.newtodo input {
    color: black;
    background-color: whitesmoke;
    width: 30px;
    height: 30px;
    border: 0.5px black solid;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    cursor: pointer;
}

.newtodo .tekst {
    user-select: none;
    width: 80%;
    font-size: 20px;
}

.newtodo button {
    background-color: whitesmoke;
    width: 10%;
    border: none;
    font-size: 20px;
    cursor: pointer;

}
#addnewtodo .btnOutline{
    width: 40px;
    height: 40px;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    border: 0.5px solid black;
    top: 0;
    right: 0;
}


input[type="checkbox"] {
    -webkit-appearance: initial;
    appearance: initial;
    position: relative;
}

input[type="checkbox"]:checked:after {
    content: "\2713";
    color: #69975b;
    font-size: 50px;
    position: absolute;
    left: 70%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.ferdig {
    text-decoration: line-through;
    color: #aaa;
    opacity: 0.6;
}



/* GBRUKER*/






/* SPILL*/





/* SNAKE*/





/* TALLDLR*/






/* QUIZ*/

/*ANIMASJONER*/
@keyframes vibrate-1 {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translate(-2px, 2px);
    }
    40% {
      transform: translate(-2px, -2px);
    }
    60% {
      transform: translate(2px, 2px);
    }
    80% {
      transform: translate(2px, -2px);
    }
    100% {
      transform: translate(0);
    }
  }

  @keyframes slide-in {
    from {
      translate: -150vw 0;
      scale: 200% 1;
    }
  
    to {
      translate: 0 0;
      scale: 100% 1;
    }
  }

  @keyframes morph{
    0%{
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }

    50%{
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }

    100%{
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    @keyframes focus-in-contract {
        0% {
          letter-spacing: 1em;
          filter: blur(12px);
          opacity: 0;
        }
        100% {
          filter: blur(0px);
          opacity: 1;
        }
      }
  }
  @keyframes jello-horizontal {
    0% {
      transform: scale3d(1, 1, 1);
    }
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      transform: scale3d(1, 1, 1);
    }
  }
  @keyframes roll-in-left {
    0% {
      transform: translateX(-800px) rotate(-540deg);
      opacity: 0;
    }
    100% {
      transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }
  @keyframes roll-out-left {
    0% {
      transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: translateX(-1000px) rotate(-540deg);
      opacity: 0;
    }
  }
  @keyframes slide-out-left {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(-1000px);
      opacity: 0;
    }
  }
  @keyframes slide-in-right {
    0% {
      transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-out-right {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(1000px);
      opacity: 0;
    }
  }
  @keyframes slide-right {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(30px);
    }
  }
  @keyframes slide-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-2px);
    }
  }
  @keyframes MoveInCircle{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
  }
  @keyframes MoveVertical{
    0%{
        transform: translateY(-50%);
    }
    50%{
        transform: translateY(50%);
    }
    100%{
        transform: translateY(-50%);
    }
  }
  @keyframes MoveHorizontally{
    0%{
        transform: translateX(-50%) translateY(-10%);
    }
    50%{
        transform: translateX(50%) translateY(10%);
    }
    100%{
        transform: translateX(-50%) translateY(-10%);
    }
  }